<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sourabh's Sports Mart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/bulma.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/bulma.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>
  <body>

    <section class="hero is-info">
  <div class="hero-body">


          <nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <div class="container">
        <h1 class="title">
            <a href="{{url_for('HelloWorld')}}">Sourabh's Sports Mart</a>
        </h1>
            </div>
    </div>

  </div>


  <div class="level-right">

    <p class="level-item">
      {%if 'username' not in login_session %}
			<a href="{{url_for('showLogin')}}">Click Here to Login </a>
			{% else %}
			<a href="{{url_for('gdisconnect')}}">Logout </a>
{% endif %}

      </p>
  </div>
</nav>
  </div>
</section>
    <b>
      {{category.name}}
    </b>

    <a href="{{url_for('addCategoryItem', category_id = category.id)}}">Add new item</a>
    </header>



  {% for i in items :%}

  <p>
    <a href="{{url_for('displayItem', category_id = category.id, catItem_id = i.id)}}">{{i.name}}</a>
    </p>

<p>{{i.description}}</p>
<a href="{{url_for('editItem', category_id = category.id, catItem_id = i.id)}}">Edit</a>
<a href="{{url_for('deleteItem', category_id = category.id, catItem_id = i.id)}}">Delete</a>

{% endfor %}


</body>
</html>
