{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <h2>{{catname}}</h2>
    <form class="" action="{{url_for('editItem',category_id = category_id ,catItem_id = catItem_id)}}" method="post">

      Name :<br>
      <input type="text" name="name" placeholder="{{editedItem.name}}"><br>
      Description :<br>
      <input type="text" name="desc" placeholder="{{editedItem.description}}">
      <br>
      Category : <br>

      <select name = "newCategory">

        {% for category in categories :%}

  <option value="{{category.name}}">{{category.name}}</option>

  {% endfor %}

</select>

  <br>
      <input type="submit" name="" value="Edit">
      <a href="{{url_for('HelloWorld')}}">Cancel</a>
    </form>
{% endblock %}
