<section class="hero is-info">
<div class="hero-body">


      <nav class="level">

<div class="level-left">
<div class="level-item">
  <div class="container">
    <h1 class="title">
      <a href="{{url_for('HelloWorld')}}">Sourabh's Sports Mart</a>
    </h1>

    
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
        </div>
</div>

</div>


<div class="level-right">

<p class="level-item">
  {%if 'username' not in login_session %}
  <a href="{{url_for('showLogin')}}">Click Here to Login </a>
  {% else %}
  <a href="{{url_for('gdisconnect')}}">Logout </a>
{% endif %}

  </p>
</div>
</nav>
</div>
</section>
