<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sourabh's Sports Mart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/bulma.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/bulma.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>
  <body>
    <div class="columns">
    <div class="column is-one-fifth">
      {% for category in categories :%}

      <p>{{category.name}}</p>


      {% endfor %}
<a href="{{url_for('addCategory')}}">Add a Category</a>
    </div>
    <div class="column">
      {% for item in items : %}

      <p>
      {{item.name}}
      </p>

      {% endfor %}

    </div>

  </div>

  </body>
</html>
