<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sourabh's design project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>
  <body>
    <div class="columns">
    <div class="column">
      First column ki bakchodi chalti rahegi yahan pe
    </div>
    <div class="column">
      Second column yahan s shuru hoga aur chalta hi jayega
    </div>

  </div>

  </body>
</html>
